<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <fastCgi>
      <application fullPath="D:\Program Files (x86)\PHP\v7.3\php.exe" 
        maxInstances="4" idleTimeout="3600" activityTimeout="3600"
        requestTimeout="3600" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="false">
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
